USE [master]
GO
/****** Object:  Database [DB_ADULTO_MAYOR]    Script Date: 4/10/2019 14:44:07 ******/
CREATE DATABASE [DB_ADULTO_MAYOR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_ADULTO_MAYOR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\DB_ADULTO_MAYOR.mdf' , SIZE = 7232KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_ADULTO_MAYOR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\DB_ADULTO_MAYOR_log.ldf' , SIZE = 1856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_ADULTO_MAYOR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_ADULTO_MAYOR]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 4/10/2019 14:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[idproducto] [bigint] IDENTITY(1,1) NOT NULL,
	[nombreproducto] [varchar](250) NOT NULL,
	[precio] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_DEPTOS]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_DEPTOS](
	[departmentcode] [nvarchar](2) NOT NULL,
	[departmentname] [nvarchar](50) NULL,
	[deptCedula] [nvarchar](4) NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK_REF_DEPTOS] PRIMARY KEY CLUSTERED 
(
	[departmentcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_MUNIS]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_MUNIS](
	[departmentcode] [nvarchar](2) NOT NULL,
	[MUNICIPALITYCODE] [nvarchar](2) NOT NULL,
	[MUNICIPALITYNAME] [nvarchar](250) NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK_REF_MUNIS] PRIMARY KEY CLUSTERED 
(
	[departmentcode] ASC,
	[MUNICIPALITYCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_TIPO_FOTO]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_TIPO_FOTO](
	[CodTipoFoto] [int] NOT NULL,
	[TipoFoto] [varchar](250) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodTipoFoto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ASOCIACION]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ASOCIACION](
	[Asociacion] [varchar](10) NOT NULL,
	[Descripcion] [varchar](250) NOT NULL,
	[DescripcionU] [varchar](250) NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK__TBL_ASOC__623FEBE0F08903EC] PRIMARY KEY CLUSTERED 
(
	[Asociacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BUSES]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BUSES](
	[NoUNidad] [varchar](10) NOT NULL,
	[Municipio] [nvarchar](2) NULL,
	[Departamento] [nvarchar](2) NULL,
	[Asociacion] [varchar](10) NULL,
	[Ruta] [varchar](10) NULL,
	[CUIPropietario] [varchar](15) NULL,
	[CuiPiloto] [varchar](15) NULL,
	[NoAfiliacion] [varchar](12) NULL,
	[PinAcceso] [varchar](4) NULL,
	[Consola] [varchar](15) NULL,
	[Lector] [varchar](15) NULL,
	[FechaInstalacion] [datetime] NULL,
	[RegularoSuplente] [int] NULL,
	[Marca] [varchar](10) NULL,
	[Modelo] [varchar](10) NULL,
	[Ano] [int] NULL,
	[Color] [varchar](10) NULL,
	[NoPlaca] [varchar](15) NULL,
	[NoPasajeros] [varchar](10) NULL,
	[Combustible] [varchar](6) NULL,
	[Tanque] [varchar](3) NULL,
	[FechaMant] [datetime] NULL,
	[TipoLLantas] [varchar](10) NULL,
	[CantidadLlantas] [int] NULL,
	[EstadoVehiculo] [varchar](10) NULL,
	[ComentariosInstalacion] [varchar](250) NULL,
	[SIM] [varchar](50) NULL,
	[Campo1] [varchar](50) NULL,
	[Campo2] [varchar](50) NULL,
	[Campo3] [varchar](50) NULL,
	[Campo4] [varchar](50) NULL,
	[Campo5] [varchar](50) NULL,
	[Campo6] [varchar](50) NULL,
	[Campo7] [varchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_TBL_BUSES] PRIMARY KEY CLUSTERED 
(
	[NoUNidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FOTO]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FOTO](
	[Unidad] [varchar](10) NOT NULL,
	[TipoFoto] [int] NOT NULL,
	[Activo] [bit] NULL,
	[imagen] [varchar](max) NOT NULL,
	[IdFoto] [bigint] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFoto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_INFO]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INFO](
	[IdInfo] [bigint] IDENTITY(1,1) NOT NULL,
	[Bus] [varchar](15) NOT NULL,
	[Depto] [varchar](3) NOT NULL,
	[Muni] [varchar](3) NOT NULL,
	[Ruta] [varchar](15) NOT NULL,
	[MRZ] [varchar](90) NOT NULL,
	[DPI] [varchar](13) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[FechaNac] [datetime] NOT NULL,
	[Abordaje] [datetime] NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_TBL_INFO] PRIMARY KEY CLUSTERED 
(
	[IdInfo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_LECTOR]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LECTOR](
	[Lector] [varchar](30) NOT NULL,
	[NoSerie] [varchar](30) NULL,
	[Modelo] [varchar](30) NULL,
	[ColorFOB] [varchar](30) NULL,
	[Instalada] [varchar](2) NULL,
	[ControlInventario] [varchar](50) NULL,
	[Ubicacion] [varchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_TBL_LECTOR] PRIMARY KEY CLUSTERED 
(
	[Lector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_LECTOR_BUS]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LECTOR_BUS](
	[Lector] [varchar](30) NOT NULL,
	[Bus] [varchar](10) NOT NULL,
	[Estatus] [varchar](25) NOT NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PILOTO]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PILOTO](
	[CUI] [varchar](15) NOT NULL,
	[Nit] [varchar](25) NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[Licencia] [varchar](15) NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_TBL_PILOTO] PRIMARY KEY CLUSTERED 
(
	[CUI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PROPIETARIO]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PROPIETARIO](
	[CUI] [varchar](15) NOT NULL,
	[Nit] [varchar](25) NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[Empresa] [varchar](250) NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_TBL_PROPIETARIO] PRIMARY KEY CLUSTERED 
(
	[CUI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PURGA]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PURGA](
	[IdPurga] [bigint] IDENTITY(1,1) NOT NULL,
	[NoUnidad] [varchar](15) NOT NULL,
	[DPI] [varchar](15) NULL,
	[Nombre] [varchar](30) NULL,
	[Apellido] [varchar](30) NULL,
	[FechaNac] [datetime] NULL,
	[Edad] [int] NULL,
	[FechaAbordaje] [datetime] NULL,
	[MRZ] [varchar](90) NULL,
	[Latitud] [float] NULL,
	[Longitud] [float] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK__TBL_PURG__87DEB2877A31F05F] PRIMARY KEY CLUSTERED 
(
	[IdPurga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RUTA]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RUTA](
	[Ruta] [varchar](10) NOT NULL,
	[Descripcion] [varchar](250) NOT NULL,
	[Recorrido] [varchar](500) NOT NULL,
	[KilometrosRuta] [int] NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_TBL_RUTA] PRIMARY KEY CLUSTERED 
(
	[Ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SIM]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SIM](
	[SIM] [varchar](30) NOT NULL,
	[NoTelefono] [varchar](30) NULL,
	[Modelo] [varchar](30) NULL,
	[Operador] [varchar](30) NULL,
	[ColorFOB] [varchar](30) NULL,
	[Instalado] [varchar](2) NULL,
	[CostoInventario] [varchar](50) NULL,
	[Ubicacion] [varchar](50) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SIM_BUS]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SIM_BUS](
	[SIM] [varchar](30) NOT NULL,
	[Unidad] [varchar](10) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SIM] ASC,
	[Unidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TABLET]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TABLET](
	[Consola] [varchar](30) NOT NULL,
	[NoSerie] [varchar](30) NULL,
	[Modelo] [varchar](30) NULL,
	[ColorFOB] [varchar](30) NULL,
	[Instalada] [varchar](2) NULL,
	[ControlInventario] [varchar](50) NULL,
	[Ubicacion] [varchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_TBL_TABLET] PRIMARY KEY CLUSTERED 
(
	[Consola] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TABLET_BUS]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TABLET_BUS](
	[Consola] [varchar](30) NOT NULL,
	[Bus] [varchar](10) NOT NULL,
	[Estatus] [varchar](25) NOT NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRANSACCION]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRANSACCION](
	[NoUnidad] [varchar](10) NOT NULL,
	[DPI] [varchar](15) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[FechaNac] [datetime] NOT NULL,
	[Edad] [int] NOT NULL,
	[FechaAbordaje] [datetime] NOT NULL,
	[MRZ] [varchar](90) NOT NULL,
	[Latitud] [float] NULL,
	[Longitud] [float] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_TBL_TRANSACCION] PRIMARY KEY CLUSTERED 
(
	[NoUnidad] ASC,
	[FechaAbordaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_UNIDADES_DEPTO]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_UNIDADES_DEPTO](
	[Cod] [int] NOT NULL,
	[Cantidad] [int] NULL,
	[Asociacion] [varchar](25) NULL,
	[Depto] [nvarchar](2) NULL,
	[Muni] [nvarchar](2) NULL,
	[OrderInstalacion] [int] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK__TBL_UNID__C1FE6AA97A9ACCF1] PRIMARY KEY CLUSTERED 
(
	[Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[UserName] [varchar](50) NOT NULL,
	[UserPassword] [varchar](20) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/10/2019 14:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[username] [varchar](200) NOT NULL,
	[password] [varchar](200) NOT NULL,
	[roles] [varchar](200) NULL,
 CONSTRAINT [users_PK] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([idproducto], [nombreproducto], [precio]) VALUES (1, N'Producto 1', 200)
INSERT [dbo].[producto] ([idproducto], [nombreproducto], [precio]) VALUES (2, N'Producto 2', 100)
INSERT [dbo].[producto] ([idproducto], [nombreproducto], [precio]) VALUES (3, N'Producto 3', 100)
SET IDENTITY_INSERT [dbo].[producto] OFF
INSERT [dbo].[REF_DEPTOS] ([departmentcode], [departmentname], [deptCedula], [active]) VALUES (N'01', N'GUATEMALA', N'A-1', 1)
INSERT [dbo].[REF_DEPTOS] ([departmentcode], [departmentname], [deptCedula], [active]) VALUES (N'02', N'SACATEPEQUEZ', N'B-2', 1)
INSERT [dbo].[REF_DEPTOS] ([departmentcode], [departmentname], [deptCedula], [active]) VALUES (N'03', N'CHIMALTENANGO', N'C-3', 1)
INSERT [dbo].[REF_MUNIS] ([departmentcode], [MUNICIPALITYCODE], [MUNICIPALITYNAME], [active]) VALUES (N'01', N'01', N'GUATEMALA', 1)
INSERT [dbo].[REF_MUNIS] ([departmentcode], [MUNICIPALITYCODE], [MUNICIPALITYNAME], [active]) VALUES (N'01', N'03', N'SAN JOSE PINULA', 1)
INSERT [dbo].[REF_MUNIS] ([departmentcode], [MUNICIPALITYCODE], [MUNICIPALITYNAME], [active]) VALUES (N'01', N'04', N'SAN JOSE DEL GOLFO', 1)
GO
INSERT [dbo].[REF_TIPO_FOTO] ([CodTipoFoto], [TipoFoto], [Activo]) VALUES (1234, N'test', 1)
INSERT [dbo].[TBL_ASOCIACION] ([Asociacion], [Descripcion], [DescripcionU], [Activo]) VALUES (N'AMUS', N'Asociacion de Microbuseros de Peten, Sayaxche a', N'ASOCIACION DE MICROBUSEROS DE PETEN, SAYAXCHE', 1)
INSERT [dbo].[TBL_ASOCIACION] ([Asociacion], [Descripcion], [DescripcionU], [Activo]) VALUES (N'ASEPRISMA', N'Asociacion 02 de Septiembre El Rincon San Marcos', N'ASOCIACION 02 DE SEPTIEMBRE EL RINCON SAN MARCOS', 1)
INSERT [dbo].[TBL_ASOCIACION] ([Asociacion], [Descripcion], [DescripcionU], [Activo]) VALUES (N'ASPTURZA', N'Asociacion de Propietarios Urbano de Zacapa', N'ASOCIACION DE PROPIETARIOS URBANO DE ZACAPA', 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_FOTO] ON 

INSERT [dbo].[TBL_FOTO] ([Unidad], [TipoFoto], [Activo], [imagen], [IdFoto]) VALUES (N'ANTI001', 1234, 0, N'1', 3)
SET IDENTITY_INSERT [dbo].[TBL_FOTO] OFF
SET IDENTITY_INSERT [dbo].[TBL_INFO] ON 

INSERT [dbo].[TBL_INFO] ([IdInfo], [Bus], [Depto], [Muni], [Ruta], [MRZ], [DPI], [Nombre], [Apellido], [FechaNac], [Abordaje], [Activo]) VALUES (1, N'0000000001', N'01', N'01', N'123456789', N'IDGTM22217341600301CO313<<<0185505153F2104119GTM<<10403207O3VEGA<<MARIA<<<<<<<<<<<<<<<<<<<', N'2221734160301', N'MARIA', N'VEGA', CAST(N'1955-05-15T00:00:00.000' AS DateTime), CAST(N'2019-06-21T19:22:32.000' AS DateTime), NULL)
INSERT [dbo].[TBL_INFO] ([IdInfo], [Bus], [Depto], [Muni], [Ruta], [MRZ], [DPI], [Nombre], [Apellido], [FechaNac], [Abordaje], [Activo]) VALUES (2, N'0000000001', N'01', N'01', N'123456789', N'IDGTM22220962360101C0117<<<2238406284M2104120GTM<<1040353932JACINTO<<WILLIAM<<<<<<<<<<<<<<', N'2222096230101', N'WILLIAM', N'JACINTO', CAST(N'1984-06-28T00:00:00.000' AS DateTime), CAST(N'2019-06-21T19:22:33.000' AS DateTime), NULL)
INSERT [dbo].[TBL_INFO] ([IdInfo], [Bus], [Depto], [Muni], [Ruta], [MRZ], [DPI], [Nombre], [Apellido], [FechaNac], [Abordaje], [Activo]) VALUES (3, N'0000000001', N'01', N'01', N'123456789', N'IDGTM22219964431327C1301<<<4213704284F2104120GTM<<1040386454ARDAVIN<<AURA<<<<<<<<<<<<<<<<<', N'2221996441327', N'AURA', N'ARDAVIN', CAST(N'1937-04-28T00:00:00.000' AS DateTime), CAST(N'2019-06-21T19:22:34.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TBL_INFO] OFF
INSERT [dbo].[TBL_LECTOR] ([Lector], [NoSerie], [Modelo], [ColorFOB], [Instalada], [ControlInventario], [Ubicacion], [Activo]) VALUES (N'123456', N'123456', N'RT234', NULL, N'NO', NULL, N'Desarrollo ANDROID/Diego Rios', NULL)
INSERT [dbo].[TBL_LECTOR] ([Lector], [NoSerie], [Modelo], [ColorFOB], [Instalada], [ControlInventario], [Ubicacion], [Activo]) VALUES (N'25', N'22556jjjj', N'25sds', N'255dd', N'25', N'0202', N'2525', 1)
INSERT [dbo].[TBL_LECTOR] ([Lector], [NoSerie], [Modelo], [ColorFOB], [Instalada], [ControlInventario], [Ubicacion], [Activo]) VALUES (N'999999999999', N'999999999999', N'99999', NULL, N'99', NULL, N'NO ASIGNADO', NULL)
INSERT [dbo].[TBL_LECTOR_BUS] ([Lector], [Bus], [Estatus], [Activo]) VALUES (N'FG9C07201NOM', N'ANTI001', N'02', 1)
INSERT [dbo].[TBL_PILOTO] ([CUI], [Nit], [Nombre], [Licencia], [Activo]) VALUES (N'1234562222222', N'45dddddd', N'Ceferino Rodriguez', N'44444444', 0)
INSERT [dbo].[TBL_PILOTO] ([CUI], [Nit], [Nombre], [Licencia], [Activo]) VALUES (N'1234567890124', N'19573-2', N'tito', N'125478', 1)
INSERT [dbo].[TBL_PILOTO] ([CUI], [Nit], [Nombre], [Licencia], [Activo]) VALUES (N'12345678910', N'37931253', N'Juan Perez', N'12345678910', 1)
INSERT [dbo].[TBL_PROPIETARIO] ([CUI], [Nit], [Nombre], [Empresa], [Activo]) VALUES (N'1234567891234', N'12254525', N'Juan Carlos Garcia', N'AGAP', 1)
INSERT [dbo].[TBL_PROPIETARIO] ([CUI], [Nit], [Nombre], [Empresa], [Activo]) VALUES (N'999999999', N'999999999', N'SIN ASIGNAR', N'2ite', 1)
SET IDENTITY_INSERT [dbo].[TBL_PURGA] ON 

INSERT [dbo].[TBL_PURGA] ([IdPurga], [NoUnidad], [DPI], [Nombre], [Apellido], [FechaNac], [Edad], [FechaAbordaje], [MRZ], [Latitud], [Longitud], [Activo]) VALUES (1, N'ANTI001', N'2221806412003', N'MERIDO', N'MENDEZ', CAST(N'1993-01-09T00:00:00.000' AS DateTime), 26, CAST(N'2019-08-24T13:18:26.000' AS DateTime), N'IDGTM22218064182003S2003<<<1289301098M2104119GTM<<1040327979MENDEZ<<MERIDO<<<<<<<<<<<<<<<<', NULL, NULL, NULL)
INSERT [dbo].[TBL_PURGA] ([IdPurga], [NoUnidad], [DPI], [Nombre], [Apellido], [FechaNac], [Edad], [FechaAbordaje], [MRZ], [Latitud], [Longitud], [Activo]) VALUES (2, N'ANTI002', N'2221806412003', N'MERIDO', N'MENDEZ', CAST(N'1993-01-09T00:00:00.000' AS DateTime), 26, CAST(N'2019-08-24T13:18:26.000' AS DateTime), N'IDGTM22218064182003S2003<<<1289301098M2104119GTM<<1040327979MENDEZ<<MERIDO<<<<<<<<<<<<<<<<', 123.123, 456.456, NULL)
SET IDENTITY_INSERT [dbo].[TBL_PURGA] OFF
INSERT [dbo].[TBL_RUTA] ([Ruta], [Descripcion], [Recorrido], [KilometrosRuta], [Activo]) VALUES (N'NO ASIGNAD', N'Ruta no Asignada Aun', N'no asignado', 59, 0)
INSERT [dbo].[TBL_RUTA] ([Ruta], [Descripcion], [Recorrido], [KilometrosRuta], [Activo]) VALUES (N'SAN FELIPE', N'San Felipe', N'SanFelipe-Parque-etc', 100, 0)
INSERT [dbo].[TBL_RUTA] ([Ruta], [Descripcion], [Recorrido], [KilometrosRuta], [Activo]) VALUES (N'SAN PEDRO', N'San Pedro', N'San-Pedro-Parque-etc', 100, 1)
INSERT [dbo].[TBL_SIM] ([SIM], [NoTelefono], [Modelo], [Operador], [ColorFOB], [Instalado], [CostoInventario], [Ubicacion], [Activo]) VALUES (N'2322222', N'22868971', N'test', N'test', N'test', N'25', N'test', N'', 1)
INSERT [dbo].[TBL_SIM] ([SIM], [NoTelefono], [Modelo], [Operador], [ColorFOB], [Instalado], [CostoInventario], [Ubicacion], [Activo]) VALUES (N'53839135', N'53839135', N'4G', N'TIGO', NULL, N'SI', N'', N'En Antigua', 1)
INSERT [dbo].[TBL_SIM] ([SIM], [NoTelefono], [Modelo], [Operador], [ColorFOB], [Instalado], [CostoInventario], [Ubicacion], [Activo]) VALUES (N'53839136', N'53839136', N'4G', N'TIGO', NULL, N'SI', N'', N'En Antigua', 1)
INSERT [dbo].[TBL_SIM_BUS] ([SIM], [Unidad], [Activo]) VALUES (N'2322222', N'ANTI001', 1)
INSERT [dbo].[TBL_SIM_BUS] ([SIM], [Unidad], [Activo]) VALUES (N'2322222', N'ANTI007', 1)
INSERT [dbo].[TBL_SIM_BUS] ([SIM], [Unidad], [Activo]) VALUES (N'2322222', N'ANTI008', 1)
INSERT [dbo].[TBL_TABLET] ([Consola], [NoSerie], [Modelo], [ColorFOB], [Instalada], [ControlInventario], [Ubicacion], [Activo]) VALUES (N'0123456789ABCDF', N'0123456789ABCDF', N'test', N'test', N'SI', N'test', N'Desarrollo ANDROID', 1)
INSERT [dbo].[TBL_TABLET] ([Consola], [NoSerie], [Modelo], [ColorFOB], [Instalada], [ControlInventario], [Ubicacion], [Activo]) VALUES (N'BUS2019820261', N'BUS2019820261', N'', NULL, N'SI', NULL, N'En Antigua', NULL)
INSERT [dbo].[TBL_TABLET] ([Consola], [NoSerie], [Modelo], [ColorFOB], [Instalada], [ControlInventario], [Ubicacion], [Activo]) VALUES (N'BUS2019820262', N'BUS2019820262', N'', NULL, N'SI', NULL, N'En Antigua', NULL)
INSERT [dbo].[TBL_TABLET_BUS] ([Consola], [Bus], [Estatus], [Activo]) VALUES (N'0123456789ABCDF', N'ANTI001', N'prueba', 1)
INSERT [dbo].[TBL_TRANSACCION] ([NoUnidad], [DPI], [Nombre], [Apellido], [FechaNac], [Edad], [FechaAbordaje], [MRZ], [Latitud], [Longitud], [Activo]) VALUES (N'ANTI004', N'2221806412003', N'MERIDO', N'MENDEZ', CAST(N'1993-01-09T00:00:00.000' AS DateTime), 26, CAST(N'2019-08-24T13:18:26.000' AS DateTime), N'IDGTM22218064182003S2003<<<1289301098M2104119GTM<<1040327979MENDEZ<<MERIDO<<<<<<<<<<<<<<<<', 123.123, 456.456, NULL)
INSERT [dbo].[TBL_UNIDADES_DEPTO] ([Cod], [Cantidad], [Asociacion], [Depto], [Muni], [OrderInstalacion], [Activo]) VALUES (2, 67, N'ATUCH', NULL, NULL, NULL, NULL)
INSERT [dbo].[TBL_UNIDADES_DEPTO] ([Cod], [Cantidad], [Asociacion], [Depto], [Muni], [OrderInstalacion], [Activo]) VALUES (3, 108, N'ATQ', NULL, NULL, NULL, NULL)
INSERT [dbo].[TBL_UNIDADES_DEPTO] ([Cod], [Cantidad], [Asociacion], [Depto], [Muni], [OrderInstalacion], [Activo]) VALUES (4, 52, N'ASEPRISMA', NULL, NULL, NULL, NULL)
INSERT [dbo].[TBL_USER] ([UserName], [UserPassword], [Activo]) VALUES (N'David', N'Cualquiera1', 1)
INSERT [dbo].[users] ([username], [password], [roles]) VALUES (N'admin', N'5BB7B7A44C2F02464D807231F0083F0F1C221011', N'Administrador')
INSERT [dbo].[users] ([username], [password], [roles]) VALUES (N'David', N'Cualquiera', N'Supervisor')
INSERT [dbo].[users] ([username], [password], [roles]) VALUES (N'Elio Garcia', N'2525', N'Supervisor')
/****** Object:  Index [pk_producto]    Script Date: 4/10/2019 14:44:08 ******/
ALTER TABLE [dbo].[producto] ADD  CONSTRAINT [pk_producto] PRIMARY KEY NONCLUSTERED 
(
	[idproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [credentials]    Script Date: 4/10/2019 14:44:08 ******/
CREATE NONCLUSTERED INDEX [credentials] ON [dbo].[users]
(
	[username] ASC,
	[password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[producto] ADD  DEFAULT ((100)) FOR [precio]
GO
ALTER TABLE [dbo].[REF_DEPTOS] ADD  CONSTRAINT [DF_REF_DEPTOS_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[REF_MUNIS] ADD  CONSTRAINT [DF_REF_MUNIS_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[REF_TIPO_FOTO] ADD  CONSTRAINT [DF_REF_TIPO_FOTO_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_ASOCIACION] ADD  CONSTRAINT [DF_TBL_ASOCIACION_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_BUSES] ADD  CONSTRAINT [DF_TBL_BUSES_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_FOTO] ADD  CONSTRAINT [DF_TBL_FOTO_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_INFO] ADD  CONSTRAINT [DF_TBL_INFO_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_LECTOR] ADD  CONSTRAINT [DF_TBL_LECTOR_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_LECTOR_BUS] ADD  CONSTRAINT [DF_TBL_LECTOR_BUS_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_PILOTO] ADD  CONSTRAINT [DF_TBL_PILOTO_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_PROPIETARIO] ADD  CONSTRAINT [DF_TBL_PROPIETARIO_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_PURGA] ADD  CONSTRAINT [DF_TBL_PURGA_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_RUTA] ADD  CONSTRAINT [DF_TBL_RUTA_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_SIM] ADD  CONSTRAINT [DF_TBL_SIM_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_SIM_BUS] ADD  CONSTRAINT [DF_TBL_SIM_BUS_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_TABLET] ADD  CONSTRAINT [DF_TBL_TABLET_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_TABLET_BUS] ADD  CONSTRAINT [DF_TBL_TABLET_BUS_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_TRANSACCION] ADD  CONSTRAINT [DF_TBL_TRANSACCION_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_UNIDADES_DEPTO] ADD  CONSTRAINT [DF_TBL_UNIDADES_DEPTO_activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TBL_USER] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[REF_MUNIS]  WITH CHECK ADD  CONSTRAINT [FK_REF_MUNIS_REF_DEPTOS] FOREIGN KEY([departmentcode])
REFERENCES [dbo].[REF_DEPTOS] ([departmentcode])
GO
ALTER TABLE [dbo].[REF_MUNIS] CHECK CONSTRAINT [FK_REF_MUNIS_REF_DEPTOS]
GO
ALTER TABLE [dbo].[TBL_BUSES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BUSES_REF_MUNIS] FOREIGN KEY([Departamento], [Municipio])
REFERENCES [dbo].[REF_MUNIS] ([departmentcode], [MUNICIPALITYCODE])
GO
ALTER TABLE [dbo].[TBL_BUSES] CHECK CONSTRAINT [FK_TBL_BUSES_REF_MUNIS]
GO
ALTER TABLE [dbo].[TBL_BUSES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BUSES_TBL_ASOCIACION] FOREIGN KEY([Asociacion])
REFERENCES [dbo].[TBL_ASOCIACION] ([Asociacion])
GO
ALTER TABLE [dbo].[TBL_BUSES] CHECK CONSTRAINT [FK_TBL_BUSES_TBL_ASOCIACION]
GO
ALTER TABLE [dbo].[TBL_BUSES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BUSES_TBL_PILOTO] FOREIGN KEY([CuiPiloto])
REFERENCES [dbo].[TBL_PILOTO] ([CUI])
GO
ALTER TABLE [dbo].[TBL_BUSES] CHECK CONSTRAINT [FK_TBL_BUSES_TBL_PILOTO]
GO
ALTER TABLE [dbo].[TBL_BUSES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BUSES_TBL_PROPIETARIO] FOREIGN KEY([CUIPropietario])
REFERENCES [dbo].[TBL_PROPIETARIO] ([CUI])
GO
ALTER TABLE [dbo].[TBL_BUSES] CHECK CONSTRAINT [FK_TBL_BUSES_TBL_PROPIETARIO]
GO
ALTER TABLE [dbo].[TBL_BUSES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BUSES_TBL_RUTA] FOREIGN KEY([Ruta])
REFERENCES [dbo].[TBL_RUTA] ([Ruta])
GO
ALTER TABLE [dbo].[TBL_BUSES] CHECK CONSTRAINT [FK_TBL_BUSES_TBL_RUTA]
GO
ALTER TABLE [dbo].[TBL_FOTO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FOTO_REF_TIPO_FOTO] FOREIGN KEY([TipoFoto])
REFERENCES [dbo].[REF_TIPO_FOTO] ([CodTipoFoto])
GO
ALTER TABLE [dbo].[TBL_FOTO] CHECK CONSTRAINT [FK_TBL_FOTO_REF_TIPO_FOTO]
GO
ALTER TABLE [dbo].[TBL_FOTO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FOTO_TBL_BUSES] FOREIGN KEY([Unidad])
REFERENCES [dbo].[TBL_BUSES] ([NoUNidad])
GO
ALTER TABLE [dbo].[TBL_FOTO] CHECK CONSTRAINT [FK_TBL_FOTO_TBL_BUSES]
GO
ALTER TABLE [dbo].[TBL_LECTOR_BUS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_LECTOR_BUS_TBL_BUSES] FOREIGN KEY([Bus])
REFERENCES [dbo].[TBL_BUSES] ([NoUNidad])
GO
ALTER TABLE [dbo].[TBL_LECTOR_BUS] CHECK CONSTRAINT [FK_TBL_LECTOR_BUS_TBL_BUSES]
GO
ALTER TABLE [dbo].[TBL_LECTOR_BUS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_LECTOR_BUS_TBL_LECTOR] FOREIGN KEY([Lector])
REFERENCES [dbo].[TBL_LECTOR] ([Lector])
GO
ALTER TABLE [dbo].[TBL_LECTOR_BUS] CHECK CONSTRAINT [FK_TBL_LECTOR_BUS_TBL_LECTOR]
GO
ALTER TABLE [dbo].[TBL_SIM_BUS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_SIM_BUS_TBL_BUSES] FOREIGN KEY([Unidad])
REFERENCES [dbo].[TBL_BUSES] ([NoUNidad])
GO
ALTER TABLE [dbo].[TBL_SIM_BUS] CHECK CONSTRAINT [FK_TBL_SIM_BUS_TBL_BUSES]
GO
ALTER TABLE [dbo].[TBL_SIM_BUS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_SIM_BUS_TBL_SIM] FOREIGN KEY([SIM])
REFERENCES [dbo].[TBL_SIM] ([SIM])
GO
ALTER TABLE [dbo].[TBL_SIM_BUS] CHECK CONSTRAINT [FK_TBL_SIM_BUS_TBL_SIM]
GO
ALTER TABLE [dbo].[TBL_TABLET_BUS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TABLET_BUS_TBL_BUSES] FOREIGN KEY([Bus])
REFERENCES [dbo].[TBL_BUSES] ([NoUNidad])
GO
ALTER TABLE [dbo].[TBL_TABLET_BUS] CHECK CONSTRAINT [FK_TBL_TABLET_BUS_TBL_BUSES]
GO
ALTER TABLE [dbo].[TBL_TABLET_BUS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TABLET_BUS_TBL_TABLET] FOREIGN KEY([Consola])
REFERENCES [dbo].[TBL_TABLET] ([Consola])
GO
ALTER TABLE [dbo].[TBL_TABLET_BUS] CHECK CONSTRAINT [FK_TBL_TABLET_BUS_TBL_TABLET]
GO
ALTER TABLE [dbo].[TBL_UNIDADES_DEPTO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_UNIDADES_DEPTO_REF_MUNIS] FOREIGN KEY([Depto], [Muni])
REFERENCES [dbo].[REF_MUNIS] ([departmentcode], [MUNICIPALITYCODE])
GO
ALTER TABLE [dbo].[TBL_UNIDADES_DEPTO] CHECK CONSTRAINT [FK_TBL_UNIDADES_DEPTO_REF_MUNIS]
GO
USE [master]
GO
